#Qbtn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#Qbtn button{
    margin:  1rem 4rem;
}
#post{
    color: red;
}

@media screen and ((max-width:900px )and (min-height:480px) ) {
    #tit{
        margin-left:5rem;
    }
}

@media screen and (max-height:480px){
    #tit{
        margin-left:14rem;
    }
}